<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yalantis.ucrop">
    <application
        android:requestLegacyExternalStorage="true"
        >
            <provider
                android:name=".ImagePickerLeoProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">
                <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_provider_paths" />
            </provider>


        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleFullscreen" />
    </application>





</manifest>