<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lihang.selfmvvm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 强制更高版本手机的权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true">

        <activity
            android:name=".ui.demo.activity.WelComeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--全屏设置，必须加入-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />

        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/BlackFront_AppTheme" />


        <activity
            android:name=".ui.demo.login.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/BlackFront_AppTheme" />


        <activity
            android:name=".ui.demo.activity.WebActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteFront_AppTheme_blue" />


        <activity
            android:name=".ui.demo.set.SetActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/BlackFront_AppTheme" />

        <activity
            android:name=".ui.demo.set.aboutus.AboutUsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/BlackFront_AppTheme" />


        <activity
            android:name=".ui.demo.set.editor.EditorMessageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/BlackFront_AppTheme" />

        <activity
            android:name=".ui.demo.set.editor.EditorNameActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/BlackFront_AppTheme" />


        <activity
            android:name=".ui.demo.login.RegistCodeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/BlackFront_AppTheme" />

        <activity
            android:name=".ui.demo.funexplain.network.NetWorkExplainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/BlackFront_AppTheme" />

        <activity
            android:name=".ui.demo.funexplain.selectandclipImage.SelectAndClipImageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/BlackFront_AppTheme" />


        <activity
            android:name=".ui.demo.funexplain.wximageeffect.LikeWxImageEffectActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/BlackFront_AppTheme" />


        <activity
            android:name=".ui.demo.funexplain.glide.GlideUserActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/BlackFront_AppTheme" />


        <activity
            android:name=".ui.demo.funexplain.bannerintro.BannerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/BlackFront_AppTheme" />


        <activity
            android:name=".ui.demo.funexplain.pickviewintro.PickerViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/BlackFront_AppTheme" />

        <activity
            android:name=".ui.demo.funexplain.edittext.EditTextViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/BlackFront_AppTheme" />


        <!--多渠道打包需要配置-->
        <meta-data
            android:name="ATMAN_CHANNEL"
            android:value="${ATMAN_CHANNEL_VALUE}" />


        <!--其他的配置项-->
        <service android:name=".morefunction.apkupdate.DownLoadService" />

    </application>

</manifest>
